@using Snippy.Web.Models.ViewModels
@model IEnumerable<SnippetViewModel>

<h1>My snippets</h1>

@if (Model.Any())
{
    @Html.DisplayFor(m => m);
}
else
{
    @:You have no snippets. You can @Html.ActionLink("create", "NewSnippet", "Snippets") one now.
}